@font-face {
	font-family: '04B';
	src: url(Fonts/04B_08__.TTF) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: '04B';
	box-sizing: border-box;
}