@font-face {
	font-family: '04B';
	src: url(Fonts/04B_08__.TTF) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: '04B';
	box-sizing: border-box;
}

.hero {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg, #1d0000, #20205b);
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar {
	width: 300px;
	height: 250px;
	background: #fff;
	display: flex;
	align-items: center;
	border-radius: 10px;
}